<div class="team_icon" style="background-color: <%= @team.color %>; "></div>

<h2 class="push hug"><%= @team.name %></h2>



<h3>Medlemmar</h3>
<% if @team.members.length != 0 %>
  <ul class="hug push member_list">
  <% @team.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
  </ul>
<% else %>
  Inga medlemmar &auml;n
<% end %>
<br>
<h3>Poäng</h3>
<h4 class="hug">Just nu, <%= @team.points %>poäng.</h4>
<br>
<h3>Ryggs&auml;ck</h3>
<% if @team.backpack_contents.count == 0 %>
  Ryggs&auml;cken &auml;r tom
<% else %>
  <ul class="backpack">
  <% @team.backpack_contents.each do |bc| %>
    <li>
      <span><%= bc.amount %></span>
      <span>&#215; </span>
      <span><%= bc.item.name %></span>
    </li>
  <% end %>
  </ul>
<% end %>
<br>
<h3>Poänglogg</h3>
<% if @team.points_log.count == 0 %>
  Inga poäng intjänade eller spenderade
<% else %>
  <table class="log">
  <% @team.points_log.each do |entry| %>
    <tr>
      <td><%= entry.created_at.strftime("%F %T") %></td>
      <td><%= entry.reason %></td>
      <td><%= entry.change %></td>
    </tr>
  <% end %>
  </table>
<% end %>


<br><br>
<%= button_to shop_path(team_id: @team.id), method: :get, class: :primary do %>
	Handla fler prylar till ryggs&auml;cken
<% end %>
