<div class="team_icon" style="background-color: <%= @team.color %>; "></div>

<h2 class="push hug"><%= @team.name %></h2>



<h3>Medlemmar</h3>
<% if @team.members.length != 0 %>
  <ul class="hug push member_list">
  <% @team.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
  </ul>
<% else %>
  Inga medlemmar &auml;n
<% end %>

<h3>Po채ng</h3>
<h4 class="hug">Just nu, <%= @team.points %>po채ng.</h4>
<% if @team.points_log.count == 0 %>
  Inga po채ng intj채nade eller spenderade
<% else %>
  <ul class="log_list">
  <% @team.points_log.each do |entry| %>
    <li><%= entry %></li>
  <% end %>
  </ul>
<% end %>

<h3>Ryggs&auml;ck</h3>
<% if @team.backpack_contents.count == 0 %>
	Ryggs&auml;cken &auml;r tom
<% else %>
  <% @team.backpack_contents.each do |bc| %>
    <%= bc.amount %> &#215; <%= bc.item.name %>
  <% end %>
<% end %>
<br><br>
<%= button_to shop_path(team_id: @team.id), method: :get, class: :primary do %>
	Handla fler prylar till ryggs&auml;cken
<% end %>
