<h2 class="hug push">Logga in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field push">
    <%= f.email_field :email, autofocus: true, placeholder: 'E-post' %>
    <%= f.password_field :password, autocomplete: 'off', placeholder: 'Lösenord' %>
    <%= f.submit "Logga in" %>
  </div>

  <div class="actions push">

  </div>
<% end %>

<%= render "members/shared/links" %>
