<h2 class="hug push">Registrering</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field push">
    <%= f.text_field :name, autofocus: true, placeholder: 'Ditt namn' %><br />
    <%= f.email_field :email, placeholder: 'Din e-postadress' %>
  </div>

  <div class="field push">

    <% if @validatable %>
    <h3>Lösenord (minst <%= @minimum_password_length %> tecken långt)</h3>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Välj ett lösenord' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Upprepa lösenordet' %>
  </div>

  <div class="actions">
    <%= f.submit "Skapa kontot", class: :primary %>
  </div>
  <br>
<% end %>

<%= render "members/shared/links" %>
