<h1>Handla resurser</h1>

<dl>
	<dt>Lag:</dt>
	<dd><%= @team.name %></dd>
	<dt>Po&auml;ng:</dt>
	<dd><%= @team.points %></dd>
</dl>

<ul>
<% @items.each do |item| %>
	<li>
		<h3><%=item.name%></h3>
		<img src="<%=item.image%>"/>
		<%= button_to purchase_path(team_id: @team.id, item_id: item.id), disabled: (item.cost > @team.points) do %>
			K&ouml;p f&ouml;r <%= item.cost %>p
		<% end %>
	</li>
<% end %>
</ul>
