<h3 class="hug push">Handla resurser</h3>
<p>Po&auml;ng: <%= @team.points %></p>

<ul class="shop_items">
<% @items.each do |item| %>
	<li>
		<h6 class="thin"><%=item.name%></h6>
		<figure><img src="<%= asset_path("items/#{item.image}.svg") %>"/></figure>
		<%= button_to purchase_path(team_id: @team.id, item_id: item.id), disabled: (item.cost > @team.points) do %>
			-<%= item.cost %>p
		<% end %>
	</li>
<% end %>
</ul>
