<!DOCTYPE html>
<html>
	<head>
		<title>Avatar</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<!-- put these where they belong -->
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: name %>
	<% end %>
	<!-- -->
		<div class="container">
			<header class="header">
				<h1>
					<%= link_to root_path do %>
						<img src="<%= asset_path('logo.svg') %>" 
							 class="logo" 
							 alt="Future Youth Camp Logotype" />
					<% end %>
				</h1>
				<p class="lead">Future Youth Camp &mdash; Spelet</p>
			</header>
			<article class="main">
				<%= yield %>
			</article>
		</div>
	</body>
</html>
