<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>Future Youth Camp</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#260c0b">
		<meta name="msapplication-TileImage" content="/mstile-144x144.png">
		<meta name="theme-color" content="#260c0b">
	</head>
	<body>
		<% if member_signed_in? %>
			<% flash[:alert] = 'Du har inte valt ett lag.' if current_member.try(:team_id).nil? %>
			<% border_color = "#{current_member.team.color}" %>
		<% else %>
			<% border_color = 'transparent' %>
		<% end %>
 		<nav style="border-bottom-color: <%= border_color %>;">
			<div class="container">
				<% if member_signed_in? %>
					<strong><%= link_to current_member.email, edit_member_registration_path %></strong>
					<%= link_to "Logga ut", destroy_member_session_path, method: :delete, :class => 'navbar-link light'  %>

					<% border_color = "#{current_member.team.color}" %>
				<% else %>
					<%= link_to "Logga in", new_member_session_path,  :class => 'navbar-link light'  %>
					<%= link_to "Registrera konto", new_member_registration_path, :class => 'navbar-link light'  %>
					<% border_color = 'transparent' %>
				<% end %>
			</div>
		</nav>
		<% if notice || alert %>
			<aside class="messages">
				<% if notice %>
					<div class="hug alert alert-success"><p class="container"><%= notice %></p></div>
				<% end %>
				<% if alert %>
					<div class="hug alert alert-danger"><p class="container"><%= alert %></p></div>
				<% end %>
			</aside>
		<% end %>

		<div class="container">
			<header class="header">



				<h1>
					<%= link_to root_path do %>
						<img src="<%= asset_path('logo.svg') %>"
							 class="logo"
							 alt="Future Youth Camp Logotype" />
					<% end %>
				</h1>
			</header>
			<article class="main">
				<%= yield %>
			</article>
		</div>
	</body>
</html>
