<!DOCTYPE html>
<html>
	<head>
		<title>Avatar</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<header class="header">
				<h1>
					<%= link_to root_path do %>
						<img src="<%= asset_path('logo.svg') %>" 
							 class="logo" 
							 alt="Future Youth Camp Logotype" />
					<% end %>
				</h1>
				<p class="lead">Future Youth Camp &mdash; Spelet</p>
			</header>
			<nav>
				<% if member_signed_in? %>
					Logged in as <strong><%= current_member.email %></strong>.
					<%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %> |
					<%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
					<%= link_to "Sign up", new_member_registration_path, :class => 'navbar-link'  %> |
					<%= link_to "Login", new_member_session_path, :class => 'navbar-link'  %>
				<% end %>
			</nav>
			<% if notice || alert %>
				<aside class="messages">
					<% if notice %>
						<p class="alert alert-success"><%= notice %></p>
					<% end %>
					<% if alert %>
						<p class="alert alert-danger"><%= alert %></p>
					<% end %>		
				</aside>
			<% end %>
			<article class="main">
				<%= yield %>
			</article>
		</div>
	</body>
</html>
