<!DOCTYPE html>
<html>
	<head>
		<title>Avatar</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	<!-- put these where they belong -->
	<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: name %>
	<% end -%>
	<%= link_to 'Logga in', login_path %>
	<!-- -->
		<div class="container">
			<header class="header">
				<h1><a href="/">Logga här</a></h1>
			</header>
			<article class="main">
				<%= yield %>
			</article>
			<footer class="footer">
				<small>&copy; Future Youth Camp - 2015</small>
			</footer>
		</div>
	</body>
</html>
