<!DOCTYPE html>
<html>
	<head>
		<title>Avatar</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	<!-- put these where they belong -->
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: name %>
	<% end %>
	<!-- -->
		<div class="container">
			<header class="header">
				<h1>
					<%= link_to root_path do %>
						Logga h&auml;r
					<% end %>
				</h1>
			</header>
			<article class="main">
				<%= yield %>
			</article>
			<footer class="footer">
				<small>&copy; Future Youth Camp - 2015</small>
			</footer>
		</div>
	</body>
</html>
